    .unfollow-user, .follow-user, .generic-button {
        font-weight: bold;
        font-size: 15px;
        outline: none; }

        .unfollow-user {
            background-color: #70c050;
            border-color: #70c050;
            padding: 4px 27px; }
            .unfollow-user:hover {
            background-color: #70c050;
            border-color: #70c050; }
            .unfollow-user:active, .unfollow-user:focus {
            background-color: #5a9a40;
            border-color: #5a9a40; }
        
        .follow-user, .generic-button {
            background-color: #fff;
            border-color: #3897f0;
            color: #3897f0;
            padding: 4px 38px; }
            .follow-user:hover, .follow-user:active, .follow-user:focus, .generic-button:hover, .generic-button:active, .generic-button:focus {
            background-color: #fff;
            border-color: #3897f0;
            color: #3897f0; }
            
            html {
                height: 100%; }
            
            body {
                min-height: 100%;
                padding-top: 50px;
                background-color: #fafafa; }
                body.white {
                background-color: #fff; }
                body.white .content-wrapper {
                    background-color: #fff; }          
     
                    
  
a:hover {
    text-decoration: none; }
    
    .content-wrapper {
        margin-top: 57px;
        margin-bottom: 60px;
        background-color: #fafafa; }
        @media screen and (max-width: 768px) {
          .content-wrapper {
            margin-top: 50px; } }
      
      .picture-circle, .picture-circle--medium, .picture-circle--small {
        border-radius: 100%;
        width: 150px;
        height: 150px; }
        .picture-circle--medium {
          width: 36px;
          height: 36px; }
        .picture-circle--small {
          width: 30px;
          height: 30px; }
      
          .picture-square {
            position: relative;
            background-repeat: no-repeat;
            background-position: center center;
            background-color: #fff;
            background-size: 100%;
            cursor: pointer; }
            .picture-square > a {
              cursor: pointer; }
            .picture-square:after {
              content: "";
              display: block;
              padding-bottom: 100%; }
            .picture-square .content {
              cursor: pointer;
              display: none;
              position: absolute;
              width: 100%;
              height: 100%;
              background-color: rgba(0, 0, 0, 0.3); }
            .picture-square:hover .content {
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 18px;
              color: #fff; }
              .picture-square:hover .content .fa {
                color: #fff;
                margin-right: 5px; }
                .picture-square:hover .content .fa:not(:first-of-type) {
                  margin-left: 25px; }
                  @media screen and (max-width: 724px) {
                    .picture-square:hover .content .fa:not(:first-of-type) {
                      margin-left: 10px; } }
  
.options-bubbles {
    display: inline-block; }
    .options-bubbles:hover {
      cursor: pointer; }
    .options-bubbles .bubble {
      display: inline-block;
      height: 5px;
      width: 5px;
      border: 1px solid #8f8f8f;
      border-radius: 100%;
      margin: 0; }
  
  .desktop-block {
    display: block; }
    @media screen and (max-width: 724px) {
      .desktop-block {
        display: none; } }
  
  .mobile-block {
    display: none; }
    @media screen and (max-width: 724px) {
      .mobile-block {
        display: block; } }
        



        .navbar {
            background-color: #fff;
            border-bottom-color: #dbdbdb; }
            .navbar .fa {
              font-size: 25px;
              color: #999999; }
              .navbar .fa.active {
                color: #333; }
            .navbar .mobile {
              display: none; }
              .navbar .mobile a, .navbar .mobile a:hover, .navbar .mobile a:focus {
                color: #333; }
              .navbar .mobile .col-xs-3 {
                text-align: center;
                min-height: 50px;
                width: 20%; }
                .navbar .mobile .col-xs-3 .fa {
                  font-size: 25px;
                  margin-top: 13px; }
            .navbar .navbar-brand:not(:first-of-type) {
              float: right; }
            .navbar#mobile-top-nav .item-right {
              float: right;
              padding: 15px; }
            .navbar#mobile-top-nav .back-button .fa, .navbar#mobile-top-nav .new-message .fa {
              padding: 16px 15px 15px;
              font-size: 16px; }
              .navbar#mobile-top-nav .back-button .fa:hover, .navbar#mobile-top-nav .new-message .fa:hover {
                cursor: pointer; }
            .navbar#mobile-top-nav .new-message {
              float: right; }
            @media screen and (max-width: 768px) {
              .navbar#main-nav {
                top: initial;
                bottom: 0;
                margin: 0;
                border-top: 1px solid #ccc; }
              .navbar .desktop {
                display: none; }
              .navbar .mobile {
                display: block; } }
                  