    .unfollow-user, .follow-user, .generic-button {
        font-weight: bold;
        font-size: 15px;
        outline: none; }

        .unfollow-user {
            background-color: #70c050;
            border-color: #70c050;
            padding: 4px 27px; }
            .unfollow-user:hover {
            background-color: #70c050;
            border-color: #70c050; }
            .unfollow-user:active, .unfollow-user:focus {
            background-color: #5a9a40;
            border-color: #5a9a40; }
        
        .follow-user, .generic-button {
            background-color: #fff;
            border-color: #3897f0;
            color: #3897f0;
            padding: 4px 38px; }
            .follow-user:hover, .follow-user:active, .follow-user:focus, .generic-button:hover, .generic-button:active, .generic-button:focus {
            background-color: #fff;
            border-color: #3897f0;
            color: #3897f0; }
            
            html {
                height: 100%; }
            
            body {
                min-height: 100%;
                padding-top: 50px;
                background-color: #fafafa; }
                body.white {
                background-color: #fff; }
                body.white .content-wrapper {
                    background-color: #fff; }          
     
                    
  
a:hover {
    text-decoration: none; }                  